*{
    margin:0;
    box-sizing: border-box;
}
.section-1{
    background-image:linear-gradient(#0000007a,#0000007a),url(image/blog_img_05.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
.sec-1-head{
    padding-top: 150px;
}
.sec-2-para{
    display: flex;
    justify-content: end;
}
img{
    max-width: 100%;
}
.fa-arrow-right{
    font-size: 10px;
    margin: 10px;
    padding: 10px;
    color: #fff;
    border-radius: 50%;
    background-color: #ffc107;
}
.last-para{
    padding:10px 0 0 10px ;
}
span{
    font-weight: bold;
}
@media(min-width:320px){
    .section-1{
        height: 60vh;
    }
    .sec-1-head{
        padding-top: 80px;
    }
}
@media(min-width:690px){
    .section-1{
        height: 80vh;
    }
    .sec-1-head{
        padding-top: 100px;
    }
}
@media(min-width:1020px){
    .section-1{
        height: 100vh;
    }
    .sec-1-head{
        padding-top: 150px;
    }
}